<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpa.myappdonation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_donation_sem_texto"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_donation_sem_texto"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.CadastrarProdutoActivity" />
        <activity android:name=".activity.ListaProdutoActivity" />
        <activity android:name=".activity.ListaCampanhasActivity" />
        <activity
            android:name=".activity.CampanhaActivity"
            android:label="@string/title_activity_campanha"
            android:theme="@style/NoActionBar" />
        <activity android:name=".activity.AdministradorActivity" />
        <activity
            android:name=".activity.ListaContaActivity"
            android:label="@string/title_activity_lista_conta"
            android:parentActivityName=".activity.IncialActivityInsti"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gpa.myappdonation.activity.IncialActivityInsti" />
        </activity>
        <activity
            android:name=".activity.ListaInstituicaoActivity"
            android:label="@string/title_activity_instituicoes"
            android:parentActivityName=".activity.InicialActivityApoiador"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gpa.myappdonation.activity.InicialActivityApoiador" />
        </activity>
        <activity
            android:name=".activity.MinhasInstituicoesActivity"
            android:label="@string/title_activity_minhas_instituicoes"
            android:parentActivityName=".activity.InicialActivityApoiador"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gpa.myappdonation.activity.InicialActivityApoiador" />
        </activity>
        <activity android:name=".activity.CadastrarDoacoesActivity" />
        <activity
            android:name=".activity.MinhasDoacoesActivity"
            android:label="@string/title_activity_minhas_doacoes"
            android:parentActivityName=".activity.InicialActivityApoiador"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gpa.myappdonation.activity.InicialActivityApoiador" />
        </activity>
        <activity android:name=".activity.ListaDoacoesActivity" />
        <activity android:name=".activity.ListaInstActivity" />
        <activity android:name=".activity.InicialActivityApoiador" />
        <activity android:name=".activity.CadastrarConta" />
        <activity android:name=".activity.UsuarioActivity" />
        <activity android:name=".activity.ListContaActivity" />
        <activity android:name=".activity.IncialActivityInsti" />
        <activity android:name=".activity.CadastrarInstituicaoActivity" />
        <activity android:name=".activity.AberturaActivity" />
        <activity android:name=".activity.Cadastrar" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>